*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root{

}



body{
  margin: 0;
  padding-top: 70px;
  background-color:  #fff;
   overflow-x: hidden;
}
a{
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

ul{
  list-style: none;
}

.d-flex{
  display: flex;
}

.justify-content-center{
  justify-content: center;
}

.flex-wrap{
  flex-wrap: wrap;
}

.align-items-center{
  align-items: center;
}




/* Container for responsive width */


/* Header styles */
header {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px 20px;
  z-index: 1000;
  transition: box-shadow 0.3s ease;
}
.header{
  height: 70px;
}

header.scrolled {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Logo styles */
.logo {
  float: left;
  display: flex;
  align-items: center;
  font-weight: bold;
  text-align: center;
}

.logo ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 113px;
  height: 36px;
  list-style: none;
  border: 1px solid #ddd;
  margin-left: 24px;
  border-radius: 24px;
  transition: background-color 0.3s, border-color 0.3s;
}

/* .logo ul:hover {
  cursor: pointer;
  background-color: #ffd700;
  border-color: #ffd700;
} */

.logo ul li {
  padding: 6px;
}

.logo ul li a {
  font-size: 14px;
  color: #333;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: color 0.3s;
}

.logo ul li:hover a {
  color: #fff;
}

.logo ul li a i {
  margin-right: 6px;
}

/* Navigation styles */


.menu-toggle {
display: none;
background: none;
border: none;
font-size: 24px;
cursor: pointer;
}


.menu{
  justify-content: center;
  align-items: center;
  text-align: center;
  float: right;
}

nav{
  margin-right: 32px;
  align-items: center;
  display: flex;
  
}
nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.5px;
  color: #333;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #6059C9;
}

nav ul li a i {
  margin-right: 6px;
}

/* Auth buttons styles */


.auth-buttons {
  display: flex;
  align-items: center;
}
.auth-buttons a{
  color: #FFFCF7;
}

.start-campaign {
  margin-right: 12px;
  background-color: #6059C9;
  color: #fff;
  border: none;
  width: 188px;
  height: 36px;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.auth-buttons-hover{
  transition: background-color 0.3s ease;
}

.auth-buttons-hover:hover{
  background-color: #F5EFE0;
}

.sign-up, .sign-in {
  width: 103px;
  height: 36px;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

.sign-up {
  background-color: #FFC20E;
  border-radius: 10px 0 0 10px;
  color: #fff;
}

.sign-in {
  background-color: #6059C9;
  border-radius: 0 10px 10px 0;
  color: #fff;
}




/* --------------------- Footer ------------------------ */

footer {    
height: 454px;
background-color: #2e251a;
color: #fff;
padding: 40px 0;
}

.footer-container {
padding: 0px 157px 0px 157px;
}

.footer-content{
display: flex;
margin-bottom: 38px;
}
.footer-left{
margin-right: 87px;
}
.footer-right{
display: flex;
justify-content: space-around;
/* flex-wrap: wrap; */
margin: 0 auto;
}

.footer-section {
flex: 1;
min-width: 240px;
}

.footer-section h4{
font-size: 16px;
font-weight: 700;
line-height: 24px;
color: #FFFCF7;
margin-bottom: 32px;
}
.footer-section ul {
list-style-type: none;
padding: 0;
}
.footer-section ul li {
margin-bottom: 8px;
}

.footer-section ul li a{
color: #FFFCF7;
font-size: 16px;
font-weight: 400;
line-height: 24px;
transition: color 0.3s;

}

.footer-left-h4{
width: 141px;
height: 24px;
margin-bottom: 32px;
}
.footer-left-p{
width: 363px;
height: 95px;
margin-bottom: 32px;
}

.footer-left-h4 h4 {
font-size: 16px;
font-weight: 700;
line-height: 24px;
color: #FFFCF7;


}

.footer-left-p p {
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #FFFCF7;

}


.footer-section ul li a:hover {
color: #d3a769;
}

.payment-methods{
width: 342.25px;
height: 75px;
display: flex;
justify-items: center;
align-items: center;
gap: 20px;
}

.footer-left{
width: 50%;
}

.payment-methods img {

}

.footer-bottom {
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
max-width: 1670px;
margin: 0 auto;
padding: 10px 0;
}

.footer-bottom p {
font-size: 14px;
margin: 0;
}

.social-icons {
display: flex;
gap: 10px;
}

.social-icons a {
width: 40px;
height: 40px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
background-color: #fff;
color: #22130C;
font-size: 16px;
transition: color 0.3s, background-color 0.3s;
}

.social-icons a:hover {
color: #fff;
background-color: #22130C;
}





/* -------------------------- About -------------------------------- */


/* Banner Styles */

.banner-section{
    background-color: #F5EFE0;
} 
 .banner-content{
    padding: 100px 157px 40px 157px;
    text-align: center;
 }

 .content-text-h2{
  width: 1127px;
  height: 95px;
 }

 .content-text-p{
  width: 994px;
  height: 56px;
 }

 .content-text h2{
    font-size: 72px;
    font-weight: 700;
    line-height: 86.63px;
    letter-spacing: -5px;
    color: #2B2B39;
 }
 .content-text p{
    width: 994px;
    height: 56px;
    font-family: Sen;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.66px;
    color: #5F5F75;
 }

 .banner-img{
  justify-content: center;
  display: flex;
 }


/* Platform-section */

.platform-section {
    display: flex;
    justify-content: space-between;
    padding: 120px 0;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .platform-content {
    margin-right: 40px;
    width: 50%;
  }
  
  .platform-content h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 28.88px;
    color: #5F5F75;
    margin-bottom: 16px;

  }
  
  .platform-content p {
    width: 70%; 
    font-size: 48px;
    font-weight: 800;
    line-height: 57.75px;
    letter-spacing: -3px;
    color: #2B2B39;
    
  }
  
  /*  */
  
  .platform-cards {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .card {
    background-color: #6059C9;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    text-align: center;
    max-width: 300px;
    margin: 0 auto; 
    transition: transform 0.3s ease; 
  }
  
  .card h3 {
    font-family: Sen;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.88px;
    letter-spacing: -2px;
    color: #FFFCF7;
  }
  .card p {
    margin-top: 12px;
    font-family: Sen;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.84px;
    color: #FFFCF7;

  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.icon img {
    border-radius: 50%; 
    background-color: #F9F9FF;
    width: 80px;
    height: 80px;
    padding: 15px; 
}


/* Believe Styles */

.believe-section {
    padding: 50px 0;
}

  .believe-tittle{
    width: 845px;
    height: 77px;
    margin-bottom: 42px;
  }

 .believe-tittle h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: -5px;
    color: #2B2B39;

 }


 .believe-content{
    gap: 103px;
    display: flex;
    margin-bottom: 32px;

 }
 .believe-content p {
    width: 50%;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.66px;
    letter-spacing: 1px;
    color: #5F5F75;
 
 }

 .believe-section .believe-content p {
    margin-bottom: 20px;
    font-size: 16px;
 }

 .believe-section .believe-img {
    text-align: center;
 }

 .believe-section .believe-img img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
 }


 /* Values styles */

.values-section {
  margin-top: 113px;
  background-image: url(../img/Rectangle-72.png);
  background-repeat: no repeat;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 1947px;
  height: 680px;
  color: #fff;    
}

.values-section > .container {
  width: 1947px;
  height: 680px;

}

.values-images{
  padding: 120px;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.values-section h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: -5px;
    text-align: left;
    margin-bottom: 40px;
    color: #6059C9;
}

.values-card, .values-tittle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.values-tittle{
  margin-bottom: 58px;
}

.values-card{
  text-align: left;
  gap: 26px;
}

.values-item {
    flex: 1 1 30%;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.values-item h2 {
    font-size: 72px;
    font-weight: 700;
    line-height: 86.63px;
    letter-spacing: -5px;
    text-align: left;
    color: #6059C9;
    margin-bottom: 48px;
}

.values-item h4 {
    font-size: 24px;
    font-weight: 800;
    line-height: 28.88px;
    letter-spacing: -2px;
    margin-bottom: 8px;
    color: #6059C9;
}

.values-item p {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.66px;
    color: #6059C9;
}

.values-item:hover {
    transform: translateY(-10px);
}

/* Story-sections */


.story-section {
  margin-top: 186px;
  
}
  
.story-model{
  display: flex;
  justify-content: space-between;
}
  .story-content {
    flex: 1;
    margin-right: 40px;
    line-height: 1.6;
  }
  
  .story-content h2 {
    margin-bottom: 34px;
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: -5px;
    color: #2B2B39;

  }
  
  .story-content p {
    margin-bottom: 24px;
    font-family: Sen;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.66px;
    color: #5F5F75;
  }
  
  .story-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .story-images img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
  }
  
  /* vision section */

  .vision-section{
    margin-top: 190px;
    background-color: #F5EFE0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 .vision-content{
  margin-top: 106px;
    text-align: center;
 }
 .vision-content h2{
    font-size: 72px;
    font-weight: 700;
    line-height: 86.63px;
    letter-spacing: -5px;
    color: #2B2B39;
 }
 .vision-content p{
    width: 994px;
    height: 56px;
    font-family: Sen;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.66px;
    color: #5F5F75;
 }
 .vision-img{
  margin-top: 80px;
  display: flex;
  justify-content: center;

 }

 /* count-section*/


.count-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #6d4ce6;
    padding: 40px 0;
    color: white;
  }
  
  .count-item {
    text-align: center;
  }
  
  .count-item h2 {
    font-size: 3rem; 
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .count-item p {
    font-size: 1.2rem; 
    margin: 0;
  }
  

  /* Testimonial Section */


.testimonial-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 0;
  }
  
  .testimonial-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 157px;
  }
  
  .testimonial-text {
    flex: 1;
    margin-left: 39px; 
  }
  
  .testimonial-text blockquote {
    background-color: #F5EFE0;
    padding: 45px 49px 31px 39px;
    border-radius: 10px;
    color: #2B2B39;
    width: 565px;
    height: 324px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.88px;
  }
  
  .testimonial-author {
    display: flex;
    align-items: center;
    margin-top: 31px;
  }
  
  .testimonial-author img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 18px;
  }
  
  .author-info h4{
    font-size: 24px;
    font-weight: 700;
    line-height: 28.88px;
    letter-spacing: -2px; 
    color: #2B2B39;
    margin-bottom: 8px;
  } 

  .author-info p {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.66px;
    text-align: center;
    color: #5F5F75;

  }
  
  .testimonial-image {
    flex: 1;
    justify-content: center;
    display: flex;
  }
  
  .testimonial-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

  
  /* Team Section */


  .team-section {
    justify-content: center;
    display: flex;  
    padding: 120px 0;
  }
  
  .team-content h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: -5px;
    color: #2B2B39;
    margin-bottom: 21px;
  }
  
  .team-content p {
    width: 80%;
    margin-bottom: 65px;
    font-family: Sen;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.66px;
    color: #5F5F75;
  }
  
  .team-members {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
  }
  
  .team-member img {
    width: 235px;
    height: 273px;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .team-member {
    text-align: center;
    position: relative;
  }

  .member-tittle{
    background-color: #fff;
    position: absolute;
    width: 190px;
    height: 77px;
    top: 250px;
    left: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px 0px #0000000D;
  }
  .team-member h4{
    margin-top: 12px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.66px;
    letter-spacing: -1px;
    text-align: center;
    color: #2B2B39;
  }
  .team-member p {
    margin-top: 12px;
    font-family: Sen;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.84px;
    letter-spacing: -0.5px;
    color: #5F5F75;

  }
  
  .see-all-button {
    justify-content: center;
    align-items: center;
    width: 209px;
    height: 48px;
    display: flex;
    padding: 10px 20px;
    background-color: #6059C9;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
  }
  
  .see-all-button:hover {
    background-color: #FFC20E;
    color: #FFFCF7;
  }
  

  /* Subscription-section */

  .subscription-section {
    background-color: #6059C9;
    padding: 80px 0;
    justify-content: center;
}

.subscription-tittle{
    width: 50%;
}

.subscription-tittle h2 {
    width: 80%;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.75px;
    letter-spacing: -0.5px;
    color: #FFFCF7;

}


.subscription-form {
    gap: 10px;
    display: flex;
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}

.subscription-form input {
    width: 354px;
    height: 56px;
    padding: 14px 20px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    flex: 1;
}

.subscription-form button {
    width: 159px;
    height: 56px;
    padding: 14px 30px;
    border-radius: 10px;
    border: none;
    background-color: #fbc02d;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.subscription-form button:hover {
    background-color: #e6a500;
}

.subscription-content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.84px;
    letter-spacing: -0.5px;
    float: left;
    color: #FFFCF7;

}
