*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root{

}



body{
  margin: 0;
  padding-top: 70px;
  background-color:  #fff;
   overflow-x: hidden;
}
a{
  text-decoration: none;
}

.d-flex{
  display: flex;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

ul{
  list-style: none;
}

.d-flex{
  display: flex;
}

.justify-content-center{
  justify-content: center;
}

.flex-wrap{
  flex-wrap: wrap;
}

.align-items-center{
  align-items: center;
}


/* Container for responsive width */


/* Header styles */
header {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px 20px;
  z-index: 1000;
  transition: box-shadow 0.3s ease;
}
.header{
  height: 70px;
}

header.scrolled {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Logo styles */
.logo {
  float: left;
  display: flex;
  align-items: center;
  font-weight: bold;
  text-align: center;
}

.logo ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 113px;
  height: 36px;
  list-style: none;
  border: 1px solid #ddd;
  margin-left: 24px;
  border-radius: 24px;
  transition: background-color 0.3s, border-color 0.3s;
}

/* .logo ul:hover {
  cursor: pointer;
  background-color: #ffd700;
  border-color: #ffd700;
} */

.logo ul li {
  padding: 6px;
}

.logo ul li a {
  font-size: 14px;
  color: #333;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: color 0.3s;
}

.logo ul li:hover a {
  color: #fff;
}

.logo ul li a i {
  margin-right: 6px;
}

/* Navigation styles */


.menu-toggle {
display: none;
background: none;
border: none;
font-size: 24px;
cursor: pointer;
}


.menu{
  justify-content: center;
  align-items: center;
  text-align: center;
  float: right;
}

nav{
  margin-right: 32px;
  align-items: center;
  display: flex;
  
}
nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.5px;
  color: #333;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #6059C9;
}

nav ul li a i {
  margin-right: 6px;
}

/* Auth buttons styles */


.auth-buttons {
  display: flex;
  align-items: center;
}
.auth-buttons a{
  color: #FFFCF7;
}

.start-campaign {
  margin-right: 12px;
  background-color: #6059C9;
  color: #fff;
  border: none;
  width: 188px;
  height: 36px;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.auth-buttons-hover{
  transition: background-color 0.3s ease;
}

.auth-buttons-hover:hover{
  background-color: #F5EFE0;
}

.sign-up, .sign-in {
  width: 103px;
  height: 36px;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

.sign-up {
  background-color: #FFC20E;
  border-radius: 10px 0 0 10px;
  color: #fff;
}

.sign-in {
  background-color: #6059C9;
  border-radius: 0 10px 10px 0;
  color: #fff;
}




/* --------------------- Footer ------------------------ */

footer {    
height: 454px;
background-color: #2e251a;
color: #fff;
padding: 40px 0;
}

.footer-container {
padding: 0px 157px 0px 157px;
}

.footer-content{
display: flex;
margin-bottom: 38px;
}
.footer-left{
margin-right: 87px;
}
.footer-right{
display: flex;
justify-content: space-around;
/* flex-wrap: wrap; */
margin: 0 auto;
}

.footer-section {
flex: 1;
min-width: 240px;
}

.footer-section h4{
font-size: 16px;
font-weight: 700;
line-height: 24px;
color: #FFFCF7;
margin-bottom: 32px;
}
.footer-section ul {
list-style-type: none;
padding: 0;
}
.footer-section ul li {
margin-bottom: 8px;
}

.footer-section ul li a{
color: #FFFCF7;
font-size: 16px;
font-weight: 400;
line-height: 24px;
transition: color 0.3s;

}

.footer-left-h4{
width: 141px;
height: 24px;
margin-bottom: 32px;
}
.footer-left-p{
width: 363px;
height: 95px;
margin-bottom: 32px;
}

.footer-left-h4 h4 {
font-size: 16px;
font-weight: 700;
line-height: 24px;
color: #FFFCF7;


}

.footer-left-p p {
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #FFFCF7;

}


.footer-section ul li a:hover {
color: #d3a769;
}

.payment-methods{
width: 342.25px;
height: 75px;
display: flex;
justify-items: center;
align-items: center;
gap: 20px;
}

.footer-left{
width: 50%;
}

.payment-methods img {

}

.footer-bottom {
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
max-width: 1670px;
margin: 0 auto;
padding: 10px 0;
}

.footer-bottom p {
font-size: 14px;
margin: 0;
}

.social-icons {
display: flex;
gap: 10px;
}

.social-icons a {
width: 40px;
height: 40px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
background-color: #fff;
color: #22130C;
font-size: 16px;
transition: color 0.3s, background-color 0.3s;
}

.social-icons a:hover {
color: #fff;
background-color: #22130C;
}



/* -----------------------Contacts-------------------------- */

/* Banner Sections */

.banner-section{
  

}

.banner-content{  
  height: 842px;
}

.banner-details{
  padding-left: 155px;
  /* width: 50%; */
  background-color: #FFFCF7;
}

.banner-img{
  width: 720px;
  height: 842px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #F5EFE0;
}
.banner-tags{
  margin-top: 109px;
}

.banner-img img{
  width: 667px;
  height: 488px;
}


.banner-text{
    margin-top: 120px;
    text-align: left;
}

.banner-text h2{
    font-size: 72px;
    font-weight: 700;
    line-height: 86.63px;
    letter-spacing: -5px;
    color: #2B2B39;
}

.banner-text p{
    font-size: 18px;
    font-weight: 400;
    line-height: 21.66px;
    color: #5F5F75;

}
.banner-items{
    margin-top: 24px;
    display: flex;
}
 .items-icon{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #6059C9;
 }
 .items-text{
    margin-left: 12px; 
 }
 .banner-items h4{ 
    font-size: 24px;
    font-weight: 700;
    line-height: 28.88px;
    letter-spacing: -2px;
    color: #2B2B39;
    margin-bottom: 6px;
 }
 .banner-items p{
    font-size: 18px;
    font-weight: 400;
    line-height: 21.66px;   
    color: #5F5F75;
 }



/* ------------------ Contact-section ---------------------------*/

.contact-section {
    background-image: url(../img/contact-form.png);
    background-repeat: no-repeat;
    padding: 80px 20px;
    text-align: center;
    color: #fff;
    margin-bottom: 120px;
  }
  
  .contact-header {
    display: flex;
    justify-content: space-around;
  }

  .contact-header h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 57.75px;
    letter-spacing: -3px;
    margin-bottom: 54px;
  }
  
  .contact-form-container {
    display: flex;
    justify-content: center;
  }
  
  .contact-form {
    background-color: #fff;
    padding: 80px 50px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 746px;
    height: 861px;
  }
  
  .contact-form label {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.66px;
  }
  
  .contact-form input {
    margin-top: 6px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #0000001A;
    font-size: 14px;
    width: 638px;
    height: 48px;
    margin-bottom: 27px;
  }
  
  .contact-form textarea{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #0000001A;
    font-size: 14px;
    width: 638px;
    height: 221px;
    margin-bottom: 24px;

  }


  .contact-form button {
    padding: 13px;
    background-color: #6655a4;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 638px;
    height: 48px;
    font-size: 18px;
    border-radius: 10px;
    font-weight: 700;
    line-height: 21.66px;

  }
  
  .contact-form button:hover {
    background-color: #4b3c8f;
  }
  
/* ---------------------- Question Sections --------------------------*/

.question-section {
  margin-top: 151px;
  width: 1127px;
}

.question-header{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.question-text-h1{
  justify-content: center;
  display: flex;
  align-items: center;
  width: 1127px;
  height: 68px;
}

.question-text-p{
  justify-content: center;
  display: flex;
  align-items: center;
  width: 577px;
  height: 33px;

}

.question-text-h1 h1{
  font-size: 48px;
  font-weight: 700;
  line-height: 57.75px;
  letter-spacing: -3px;
  color: #2B2B39;

}
.question-text-p p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.66px;
  color: #5F5F75;
}

/* question-card  */


.question-cards {
  margin-top: 52px;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.question-card {
  background-color: #6059C9;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  text-align: center;
  transition: transform 0.3s ease; 
  width: 359px;
  height: 398px;

}

.card-tittle{
  color: #FFFCF7;
}


.icon {
  margin-top: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 43px;
}

.card-tittle-h3{
  width: 273px;
  height: 43px;
  /* margin-bottom: 19px; */
}

.card-tittle-p{
  width: 295px;
  height: 98px;
}

.icon img {
  border-radius: 50%; 
  background-color: #F9F9FF;
  width: 96px;
  height: 96px;
  padding: 15px; 
}

.card-tittle h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.88px;
  letter-spacing: -2px;
}

.card-tittle p {
  margin-top: 12px;
  font-family: Sen;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.84px;

}


.card:hover {
    transform: translateY(-10px);
}

/* Worldwide Sections */

.worldwide-section {
  margin-top: 194px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0px;
  background-color: #F5EFE0;
}

.worldwide-content {
  display: flex;
}

.worldwide-image {
  margin-left: 51px;
  flex: 1;
}

.worldwide-image img {
  width: 671px;
  height: 418px;  
  border-radius: 8px;
}

.worldwide-text {
  flex: 1;
  padding-left: 74px;
}

.worldwide-header{
  width: 481px;
  height: 158px;
  margin-bottom: 52px;
}

.worldwide-header h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  letter-spacing: -3px;
  color: #2B2B39;
}

.locations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 47px;
}

.location{
  width: 152px;
  height: 112px;
}

.location h3 {
  font-size: 18px;
  font-weight: 800;
  line-height: 28px;
  color: #5F5F75;
}

.location p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #5F5F75;
  
}

/* Support-section */

.support-section {
  display: flex;
  gap: 300px;
  padding-left: 157px;
  margin-top: 161px;
  margin-bottom: 162px;
}

.support-item {
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
}

.support-icon{
  width: 96px;
  height: 96px;
  background-color: #F2EAE1;
  border-radius: 50%;
  padding: 20px;
  margin-bottom: 13px;
}
.support-icon img {
  width: 100%;
  height: auto;
}

.support-tittle{

}
.support-tittle-h3{
  width: 262px;
  height: 54px;
  margin-bottom: 9px;
}

.support-tittle-p{
  width: 290px;
  height: 54px;
  margin-bottom: 29px;
}


.support-tittle h3 {
  font-size: 36px;
  font-weight: 800;
  line-height: 54px;
  letter-spacing: -0.03em;
  color: #000000;
}

.support-tittle p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #5F5F75;

}

.support-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #6059C9;
  color: #FFFCF7;
  border-radius: 10px;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s ease;
  width: 209px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;


}

.support-button span {
  margin-left: 5px;
}

.support-button:hover {
  background-color: #4b3c8f;
}

