*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root{

}

body{
    margin: 0;
    padding-top: 70px;
    background-color:  #fff;
}
a{
    text-decoration: none;
}

.d-flex{
    display: flex;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

ul{
    list-style: none;
}


/* Container for responsive width */


/* Header styles */
header {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;
    z-index: 1000;
    transition: box-shadow 0.3s ease;
}

header.scrolled {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Logo styles */
.logo {
    float: left;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-align: center;
}

.logo ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 113px;
    height: 36px;
    list-style: none;
    border: 1px solid #ddd;
    margin-left: 24px;
    border-radius: 24px;
    transition: background-color 0.3s, border-color 0.3s;
}

.logo ul:hover {
    cursor: pointer;
    background-color: #ffd700;
    border-color: #ffd700;
}

.logo ul li {
    padding: 6px;
}

.logo ul li a {
    font-size: 14px;
    color: #333;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: color 0.3s;
}

.logo ul li:hover a {
    color: #fff;
}

.logo ul li a i {
    margin-right: 6px;
}

/* Navigation styles */
.menu{
    justify-content: center;
    align-items: center;
    text-align: center;
    float: right;
}

nav{
    margin-right: 32px;
    align-items: center;
    display: flex;
    
}
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.5px;
    color: #333;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #6059C9;
}

nav ul li a i {
    margin-right: 6px;
}

/* Auth buttons styles */
.auth-buttons {
    display: flex;
    align-items: center;
}
.auth-buttons a{
    color: #FFFCF7;
}

.start-campaign {
    margin-right: 12px;
    background-color: #6059C9;
    color: #fff;
    border: none;
    width: 188px;
    height: 36px;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.start-campaign:hover {
    background-color: #FFB900;
    color: #6059C9;
}

.sign-up, .sign-in {
    width: 103px;
    height: 36px;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

.sign-up {
    background-color: #FFC20E;
    border-radius: 10px 0 0 10px;
    color: #fff;
}

.sign-in {
    background-color: #6059C9;
    border-radius: 0 10px 10px 0;
    color: #fff;
}

.sign-up:hover {
    background-color: #6059C9;
    color: #FFB900;
}

.sign-in:hover {
    background-color: #FFB900;
    color: #6059C9;
}

/* ------------------------- Index --------------------------- */

/* Call-to-action */

.call-to-action {
    padding-top: 109px;
    text-align: center;
}

.act-tittle{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.act-tittle h1 {
    height: 95px;
    font-size: 72px;
    font-weight: 700;
    line-height: 87px;
    color: #2B2B39;
}

.act-tittle p {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    height: 36px;
    color: #5F5F75;
}

.cta-buttons {
    padding-top: 65px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cta-buttons button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.get-started, .learn-more {
    border-radius: 27px;
    height: 48px;
    width: 203px;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
}

.get-started{
    z-index: 99;
    background-color: #6059C9;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.get-started:hover{
    background-color: #F9F9FF;
    color: #6059C9;
}
.learn-more {
    transition: background-color 0.3s, color 0.3s;
    background-color: #F9F9FF;
    color: #5F5F75;
}
.learn-more:hover{
    background-color: #6059C9;
    color: #fff;
}

.call-to-action-bg{
    padding-top: 80px;
    position: relative;
}
.img-action-2{
    position: absolute;
    top: -25px;
    left: 25%;
}



/* petition */

.petition {
    position: absolute;
    top: 1215px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 16px;
}

.petition-container{
    padding: 0!important;
}
.petition-show{
    display: flex;
}
.petition h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.petition p {
    font-size: 16px;
    margin-bottom: 20px;
}
.petition-content{
    padding : 24px;
}
.petition-content h2{
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0.5px;
    color: #2B2B39;
}
.petition-email{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: #5F5F7580;
}
.petition-email i, .petition-address i{
    margin-right: 12px;
}

.petition-desc, .petition-address{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.25px;
    letter-spacing: 0.5px;
    color: #5F5F7580;
}

.petition-details p {
    width: 141px;
    height: 33px;
    font-size: 14px;
    color: #5F5F75;
    border-radius: 8px;
    background-color: #F2EAE1;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}   
.petition-details p i{
    margin-right: 12px;
}

.petition-details{
    margin-top: 12px;
    display: flex;
    gap: 12px;
}
.petition-details p:hover{
    background-color: #6059C9;
    color: #fff;
    cursor: pointer;
}

.petition-thumbnails {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.petition-thumbnails img {
    height: auto !important;
    width: auto !important;
    object-fit: cover;
    border-radius: 5px;
}

.progress-bar {
    width: 100%;
    height: 6px;
    background-color: #F2EAE1;
    border-radius: 3px;
    overflow: hidden;
}

.progress {
    width: 70%;
    height: 6px;
    background-color: #6059C9;
    border-radius: 3px;
}

/* feature */

.features {
    margin-top: 510px;  
}
.feature-header{
    text-align: center;
}

.feature-content{
    margin-top: 150px;
    justify-content: center;
    display: flex;
}
.feature{
    margin-bottom: 25px;
    align-items: center;
    display: flex;
}

.feature-tittle{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
.feature-tittle h1{
    font-size: 48px;
    line-height: 57px;
    letter-spacing: -3px;
    font-weight: 700;
    color: #2B2B39;

}
.feature-tittle p {
    margin-top: 12px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #5F5F75;
}

.feature-left{
    padding: 33px 75px 39px 0px;
}
.feature{
   height: 33%;
}

.feature-icon{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #6059C9;
    color: #F9F9FF;
    margin-right: 30px;
}
.feature-icon i {
    width: 36px;
    height: 36px;
    font-size: 30px;
}
.feature-text{
    text-align: left;
}

.text-tittle-h2{
    width: 389px;
    height: 36px;
    text-align: left;
}
.text-tittle-p{
    width: 389px;
    height: 52px;
}


.text-tittle-h2 h2{
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -1px;
    font-weight: 700;
    color: #2B2B39;
}

.text-tittle-p p{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #5F5F75;
}


/* Product */

.product{
    margin-top: 120px;
}


.product-header{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-text-h1{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 883px;
    height: 74px;
}

.product-text-p{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 883px;
    height: 29px;
}

.product-text-h1 h1{
    font-size: 48px;
    line-height: 57px;  
    letter-spacing: -3px;
    font-weight: 700;
    color: #2B2B39;

}
.product-text-p p {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #5F5F75;
}

/*  */


.products {
    justify-content: center;
    padding: 100px 153px 50px 157px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.products-card {
    background-color: white;
    border-radius: 5px;
    text-align: left;
}

.products-card h2 {
    font-size: 1.5em;
    margin-top: 0;
}


/* Products-details */

.products-details {
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 12px;
    margin-top: 30px;
    display: flex;
}

.details-tag-sp{
    width: 141px;
    height: 33px;
    background-color: #6059C9;
    border-radius: 8px;
}

.details-tag-cmt{
    width: 59px;
    height: 33px;
    background-color: #F2EAE1;
    border-radius: 8px;
}


.details-tags{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.details-tags p {
    width: 141px;
    height: 33px;
    font-size: 14px;
    color: #5F5F75;
    border-radius: 8px;
    background-color: #F2EAE1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.details-tags p i {
    margin-right: 8px;
}

.details-tags p:hover {
    background-color: #6059C9;
    color: #fff;
    cursor: pointer;
}

.details-tags img {
    border-radius: 50%;
    float: right;
    margin-left: auto; 
}
.details-tags img:hover{
    cursor: pointer;
}


.details-left{
    gap: 6px;
    display: flex;
}

.details-right{
    width: 34px;
    height: 34px;
}
.details-right img{
    border-radius: 50%;
}



/* Product-card */

.products-card{
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.products-card>img{
    width: 100%;
    height: auto;
    object-fit: cover;
}


.product-card-text{
    text-align: left;
    margin-top: 10px;
}

.product-card-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.25px;
    letter-spacing: -0.5px;
    color: #5F5F75;
}

.product-card-text-h2{
    width: 326px;
    height: 48px;

}
.product-card-text-p{
    width: 326px;
    height: 57px;

}
.product-card-text h2 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -1px;
    font-weight: 800;
    color: #2B2B39;
}


.products-tittle{
    padding-left: 16px;
}
.products-tittle p{
    margin-top: 17px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.25px;
    letter-spacing: -0.5px;
    color: #5F5F75;
}
.products-tittle p i {
    margin-right: 5px;
}


/* Product-footer */


.product-footer{
    margin-top: 33px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.product-footer a{  
    text-align: center;
    width: 195px;
    height: 48px;
    background-color: #F2EAE1;
    justify-content: center;
    border-radius: 10px;
    color: #6059C9;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    transition: background-color 0.3s, color 0.3s;
}


.product-footer a:hover{
    background-color: #6059C9;
    color: #F9F9FF;
}

.product-footer a i {
    margin-left: 19px;
}

/* Support */

.supporter{
    margin-top: 130px;
}

.supporter-left{
    background-color: #6059C9;
    padding: 148px 80px 150px 156px;
}
.supporter-img{
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 96px;
    height: 96px;
    background-color: #F9F9FF;
}

.supporter-right{
    background-color: #F5EFE0;
    padding: 148px 80px 150px 70px;
}

.supported-text-h2{
    width: 463px;
    height: 68px; 
}

.supported-text-p{
    width: 476px;
    height: 81px;
}

.supported-text h2{
    margin-top: 43px;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.31px;
    letter-spacing: -3px;
   
}
.supported-text p{
    font-family: Sen;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.66px;
}

.supporter-button {
    margin-top: 25px;
    width: 211px;
    height: 44px;
    border-radius: 10px;
    background-color: #FFFCF7;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
}

.supporter-button a i{
    margin-left: 6px;
    font-size: 14px;
}

.supporter-left h2{
    color: #FFFCF7;
}
.supporter-left p{
    color: #FFFCF7;
}

.supporter-right h2{
    color: #6059C9;
}
.supporter-right p{
    color: #6059C9;
}


.supporter-button a{
    font-size: 18px;
    font-weight: 700;
    line-height: 21.66px;
    letter-spacing: -1px;
    text-align: left;
}

.supporter-button-right{
    background-color: #6059C9;
    color: #F5EFE0;
}

.supporter-button-right a{
    color: #F5EFE0;
}

.supporter-button-left{
    background-color: #FFFCF7;
}

.supporter-button-left a{
    color: #6059C9;
}


.supporter-button-left:hover{
    border: 1px solid #F5EFE0;
    background-color: #6059C9;
    cursor: pointer;
}
.supporter-button-left:hover a{
    color: #F5EFE0;
}

.supporter-button-right:hover{
    border: 1px solid #6059C9;
    background-color: #F5EFE0;
    cursor: pointer;
}
.supporter-button-right:hover a{
    color: #6059C9;
}


/* platform */


.trusted-platform {
    text-align: center;
   margin-top: 130px;
}

.platform-header{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.platform-text-h1{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 883px;
    height: 74px;
}

.platform-text-p{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 883px;
    height: 29px;
}

.platform-text-h1 h1{
    font-size: 48px;
    line-height: 57px;  
    letter-spacing: -3px;
    font-weight: 700;
    color: #2B2B39;

}
.platform-text-p p {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #5F5F75;
}

/*  */

.platform-cards {
    padding: 86px 157px 150px 157px;
    display: flex;
    gap: 24px; 
}

.platform-card {
    background-color: #f8f3e8;
    border-radius: 16px; 
    padding: 32px;
    width: 359px;
    height: 448px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
    transition: transform 0.3s ease; 
}

.platform-card:hover {
    transform: translateY(-10px); 
}

.platform-icon {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.platform-icon img {
    padding: 22px;
    border-radius: 50%;
    background-color: #fff;
    width: 96px;
    height: 96px;
}

.platform-card h2 {
    margin-top: 24px;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.31px;
    letter-spacing: -2px;
    text-align: center;  
    color: #2B2B39;
}

.platform-card p {
    margin-top: 24px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.66px;
    text-align: center;
    color: #5F5F75;

}


/* count-section*/


.count-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #6d4ce6;
    padding: 63px 157px;
    color: white;
  }
  
  .count-item {
    text-align: center;
  }

  .count-item-text{
    text-align: center;
  }

  .count-item-text-h2{
    width: 375px;
    height: 87px;
  }

  .count-item-text-p{
    width: 375px;
    height: 29px;
  }

  .count-item-text h2 {
    font-size: 72px;
    font-weight: 700;
    line-height: 86.63px;
    letter-spacing: -5px;
    color: #FFFCF7;

  }
  
  .count-item-text p {
    font-size: 24px;
    font-weight: 400;
    line-height: 28.88px;
    color: #FFFCF7;
  }
  

/* stats-section */


.start-section {
    padding: 120px 157px;
}

.start-header{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.start-text-h1{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 883px;
    height: 74px;
}

.start-text-p{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 883px;
    height: 29px;
}

.start-text-h1 h1{
    font-size: 48px;
    line-height: 57px;  
    letter-spacing: -3px;
    font-weight: 700;
    color: #2B2B39;

}
.start-text-p p {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #5F5F75;
}


/*  */

.start-cards {
    padding: 86px 120px 100px 120px;
    display: flex;
    justify-content: space-around; 
    gap: 30px; 
    flex-wrap: wrap; 
}

.start-card {
    border-radius: 16px; 
    padding: 30px;
    height: auto; 
    width: 30%; 
    text-align: center;
    align-items: center;
    transition: transform 0.3s ease; 
}

.start-card:hover {
    transform: translateY(-10px); 
}

.start-icon {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.start-icon img {
    padding: 22px;
    border-radius: 50%;
    background-color: #6059C9;
    width: 96px;
    height: 96px;
}

.start-card h2 {
    margin-top: 25px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.88px;
    letter-spacing: -1px;
    color: #2B2B39;

}

.start-card p {
    margin-top: 12px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.66px;
    color: #5F5F75;
}

.start-footer{
    position: relative;

    margin: 73px 157px 50px 157px;
    display: flex;
    border-radius: 16px;
    width: 1127px;
    height: 336px;

}
.start-left{
    border-radius: 16px;
    width: 100%;
    background-color: #F5EFE0;
    text-align: left;
    padding: 48px;
}
.start-left h2 {
    font-size: 36px;
    font-weight: 800;
    line-height: 43.31px;
    letter-spacing: -3px;
    color: #2B2B39;
}

.start-left p {
    margin-top: 20px;
    width: 50%;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.66px;
    color: #5F5F75;
}
.start-button {
    margin-top: 60px;
    width: 219px;
    height: 48px;
    border-radius: 10px;
    background-color: #6059C9;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: background-color 0.3s, color 0.3s;
}
.start-button a i{
    margin-left: 6px;
    font-size: 14px;
}

.start-button a {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.66px;
    letter-spacing: -1px;
    text-align: left;
    color: #FFFCF7;

}

.start-button:hover a{ 
    color: #6059C9;
}
.start-button:hover{
    cursor: pointer;
    background-color: #FFFCF7;
}

.start-right{
    position: absolute;
    right: 90px;
    top: -125px;
}

/* --------------------- Footer ------------------------ */

footer {    
    height: 454px;
    background-color: #2e251a;
    color: #fff;
    padding: 40px 0;
  }
  
  .footer-container {
    padding: 0px 157px 0px 157px;
  }

  .footer-content{
    display: flex;
    margin-bottom: 38px;
  }
  .footer-left{
    margin-right: 87px;
  }
  .footer-right{
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    margin: 0 auto;
  }
  
  .footer-section {
    flex: 1;
    min-width: 240px;
  }

  .footer-section h4{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #F2EAE1;
    margin-bottom: 32px;
  }
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  .footer-section ul li {
    margin-bottom: 8px;
  }

  .footer-section ul li a{
    color: #FFFCF7;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    transition: color 0.3s;

  }
  .footer-left h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #FFFCF7;
    margin-bottom: 32px;

  }

  .footer-left p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FFFCF7;
    margin-bottom: 32px;
  }
  
  
  .footer-section ul li a:hover {
    color: #d3a769;
  }

  .payment-methods{
    width: 342.25px;
    height: 75px;
    
  }

  .footer-left{
    width: 50%;
  }

  .payment-methods img {

  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1670px;
    margin: 0 auto;
    padding: 10px 0;
  }
  
  .footer-bottom p {
    font-size: 14px;
    margin: 0;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
  }
  
  .social-icons a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #22130C;
    font-size: 16px;
    transition: color 0.3s, background-color 0.3s;
  }
  
  .social-icons a:hover {
    color: #fff;
    background-color: #22130C;
  }
  