/* Responsive css */


/* PC */

@media only screen and (max-width: 1440px) {
        .container {
            max-width: 100%;
        }
    }

  /* ----Header--- */

  /* Mobile Styles (max-width: 1440px) */

@media only screen and (max-width: 1440px) {
    
    /* Header */

    .header{
        height: auto !important;
    }
     .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        display: none;
        max-width: 100%; 
        overflow-x: hidden;
    }

    .menu.active {
        padding: 12px;
        right: 0;
        display: block;
        position: absolute; 
        top: 100%;
        max-width: 300px;
        width: 300px;
        background-color: rgba(255, 255, 255, 0.631);
        z-index: 10;
    }

    .menu-toggle {
        height: auto;
        width: auto;
        float: right;
        display: block;
        color: #333;
    }


    .nav-menu{

    }

    nav {
        margin-right: 0px !important;
    }

    nav ul {
        width: 100%;
        flex-direction: column;
        text-align: center;
        transition: background-color 0.3s ease-in-out;
    }

    nav-menu ul:hover {
        background-color: #6059C9;
        color: #fff3ff;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    .auth-buttons {
        flex-direction: column;
        gap: 10px;
    }

    .auth-buttons button {
        width: 100% !important;
        border-radius: 10px !important;
    }
    .start-campaign {
        margin-right: 0px !important;
    }

    

    /* ---------- footer -------------- */

    footer{
        height: auto;
        background-color: #2e251a;
        color: #fff;
        padding: 40px 0;
    }
    .footer-left{
        width: 100%;
        margin-bottom: 32px;
        height: auto;
        margin-right: 0px !important;
    }

    .footer-right{
        width: 100%;
        text-align: center;
    }
    .footer-left-h4{
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footer-left-p{
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 12px;
    }
    .payment-methods{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footer-container{
        width: 100%;
        padding: 40px 20px;
    }
    .footer-content{
        display: block;
        width: 100%;
        height: auto;
    }

}



/* Styles for small mobile devices (max-width: 768px) */

@media only screen and (max-width: 768px) {

    /* header */
    .logo-actions{
        display: none !important;
    }
    .menu.active{
        background-color: white;
        width: 100%;
        max-width: 100%;
    }

    /* footer */

    .footer-right{
        display: block;
        width: 100%;

    }
    .footer-section{
        margin-bottom: 48px;
        width: 100%;
        height: auto;
    }
    .footer-section h4{
        margin-bottom: 12px;
    }
    
    .footer-bottom{
        width: 100%;
    }
    .footer-bottom-p{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 24px;
    }
    .social-icons{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

